/**
* CSS
* 
* @version 1.0
* @author Ventura mendoza
* 
*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 11px;
  font-family: "Courier New", Courier, monospace;
  background: #fff;
  width: 1000px;
}

body.section-1 { }
body.section-2 { }
body.section-3 { }

a:link { text-decoration: none; color: #666;}
a:active { text-decoration: none; }
a:visited { text-decoration: none; color: #666; }
a:hover { text-decoration: line-through;  }

a img { border: none; }

#menu {
    width: 210px;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    padding-left:15px;
    padding-top: 10px;
    height: 100%;
    background-color: #fff;
}


#menu ul {
  list-style: none outside none;
  margin: 0 0 10px 0;
}

#menu ul li.section-title { 
  font-weight:bold;
  margin: 0 0 2px 0;
}

#content {
    height: auto;
    margin: 10px 120px 0 230px;
    top: 0;
    width: 740px;
    float:left;
    position:relative;
}



.container {
    padding: 5px 5px 25px 5px;
    word-wrap: break-word; /* IE 5+ */
}

.xml {
    white-space: pre; /* CSS 2.0 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3.0 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP */
}

#cabecera{
    background-color: white;
    height: 91px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    opacity: 0.9;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 10px;
    position: fixed;
    top: 75px;
    width: 740px;
    text-align:right;
}


#content p { width: 500px; margin-bottom: 9px; text-align: justify; }

p {
    margin: 0 0 9px 0;
}

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 16px; }
h4 { font-size: 12px;  }

#title-container { 
  padding: 0 0 0 10px;
  width: 740px;
 }

#img-container  { padding: 0 0 0 5px;  width: 740px; text-align: left; }
#img-container p  { width: 740px; margin: auto; padding: 0 0 0 10px; }

#once { clear: left; }