/****************************
 *  Created 18/07/11
 *  Last update 09/11/11   
 ****************************/
/*prrrttttt*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {margin:0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
	
html, body{height:100%;margin:0;}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1;font-family:Verdana, Arial, Helvetica, sans-serif;}
ol, ul{list-style:none;}

/* CSS SHARK DJ */
#bodySmall{margin:auto;padding:0px;background:#fff no-repeat;font-size:13px;font-family:Verdana, Arial, Helvetica, sans-serif;width:600px;border:0px;}

#container{margin:0px auto;padding:0px;width:920px;min-height:100%;height:auto !important;height:100%;background-color:white;font-size:12px;}
#headerFull{width:100%;height:150px;background: url('images/bkgdHeader.png') repeat-x left top;position:relative;float:left;}
#header{width:100%;height:150px;background: url('images/bkgdHeader.png') repeat-x left top;position:relative;float:left;}

#loginLinks{width:100%;}

/* CSS formulario registro y Login */
input, a {outline:0 none;}
#boxLogin{position:absolute;top:10px;right:300px;background:#ccc;-moz-border-radius:15px 15px;-webkit-border-radius: 15px 15px; padding:15px;}
#boxSignup{position:absolute;top:25px;right:300px;background:#ccc;-moz-border-radius:15px 15px;-webkit-border-radius: 15px 15px; padding:15px;}
.rowSignup{width: 904px;height: 373px;position: relative;float: left;margin: 2px 8px 0px 0px;}
.rowLogin{width: 904px;height: 245px;position: relative;float: left;margin: 2px 8px 0px 0px;}
.labelFormLogin {padding: 0 0 6px 5px;width: 227px;font: 11px verdana,sans-serif;color: #445135;}
.radioFormLogin {padding: 0 0 10px 0;width: 100px;font: 11px verdana,sans-serif;color: #445135; float:left;}
.rounded_input {margin-bottom: 10px;width: 232px;height: 38px;background: url('images/login_input.png') no-repeat top left;}
.rounded_input input {display: block;padding: 10px 10px 10px 10px;width: 212px;height: 18px;font: 14px arial,sans-serif;color: #445135;border: 0;background: transparent;}
.rounded_input select {padding: 10px 10px 10px 10px;margin:0.88em;width: 212px;height: 18px;font: 14px arial,sans-serif;color: #445135;border: 0;background: transparent;}
.rounded_input_red {margin-bottom: 10px;width: 232px;height: 38px;background: url('images/login_input_red.png') no-repeat top left;}
.rounded_input_red input {display: block;padding: 10px 10px 10px 10px;width: 212px;height: 18px;font: 14px arial,sans-serif;color: #445135;border: 0;background: transparent;}
.rounded_input_red select {padding: 10px 10px 10px 10px;margin:0.88em;width: 212px;height: 18px;font: 14px arial,sans-serif;color: #445135;border: 0;background: transparent;}

.buttonLogin {float: left;margin: 0 10px 0 5px;padding: 2px 15px;font: 11px verdana,sans-serif;color: white;vertical-align: top;cursor: pointer;border: 1px solid grey;background: red;}
.forgotLogin {float: left;padding: 0;width: 130px;line-height: 16px;padding-top: 7px;font: 10px verdana,sans-serif;}
.forgotLogin a {text-decoration:none;color:grey;}
.forgotLogin a:hover {text-decoration:none;color:#585858;}

/* formulario artista */
#mainTab {margin: 0 auto -75px;padding: 5px;float:left;height:100%;width: 750px;}
.rounded_input_right {margin-bottom: 10px;width: 232px;height: 38px;background: url('images/login_input.png') no-repeat top left;position:relative;float:right;padding: 0 0 0 5px;}
.rounded_input_right input {display: block;padding: 10px 10px 10px 10px;width: 212px;height: 18px;font: 14px arial,sans-serif;color: #445135;border: 0;background: transparent;}
.rounded_input_mapa {margin-bottom: 10px;width: 620px;height: 38px;background: url('images/input_mapa.png') no-repeat top left;}
.rounded_input_mapa input {display: block;padding: 10px 10px 10px 10px;width: 610px;height: 18px;font: 14px arial,sans-serif;color: #445135;border: 0;background: transparent;}
.apellido2 {top: -48px;left: -233px;}
.movil{top: -67px; left: -233px;}
.boton{top: -19px; left: 245px;}
.botonBio {top: -25px;left: 15px;}
.botonImagen {top: -5px;left: 10px;}
.botonBuscar {top: -40px;left: 10px;}
.botonMapa {top: -20px;left: 241px;}
.botonSoundCloud {top: -15px;left: -5px;}
.imagenPerfil {position: relative;top: -330px;left: 230px;float: right;width: 240px;}
.imagenPerfilLocal {position: relative;top: -205px;left: 203px;float: right;width: 150px;}

/*Editar foto Perfil*/
#mainFotoPerfil {margin: 0 auto;padding: 5px 0 5px 0;float:left;height:100%;width: 100%;}
.boxEditarFoto {height:550px; padding: 5px}
.boxTexto {position: relative;float: left;clear: left;height: 100%;width: 745px;padding: 5px 0px 5px 5px;margin: 0 0 0 5px;}
.imagenEditar{float:left; margin: 0 auto;}

/*perfil*/
.thumb {padding: 7px 0px 0px 5px;float:left;}

a.login{position:relative;float:left;width:32px;margin:5px 0px 5px 5px;text-decoration:none;color:grey;font-size:10px;font-weight:bold;}
a.login2{position:relative;float:left;width:45px;margin:5px 0px 5px 2px;text-decoration:none;color:grey;font-size:10px;font-weight:bold;}
a.login:hover{color:black;}
a.login2:hover{color:black;}

#flag{position:relative;float:left;width:150px;margin:6px 2px 5px 2px;padding:0 2px;}
#socialLinks{position:relative;float:right;width:150px;margin:5px 0px 5px 0px;height:25px;}
#socialLinks2{position:relative;float:right;width:150px;margin:5px 0px 5px 0px;height:25px;}

a#linkFA{background:url('images/redessociales.png') no-repeat 0 0;width:24px;height:24px;display:block;text-indent:-9999px;}
a#linkFA:hover{background-position:0 -24px;}

#linkMY{background:url('images/redessociales.png') no-repeat top left;width:24px;height:24px;display:block;text-indent:-9999px;background-position:-24px -0px;}
#linkMY:hover{background-position:-24px -24px;}

#linkSO{background:url('images/redessociales.png') no-repeat 0 0;width:24px;height:24px;display:block;text-indent:-9999px;background-position:-48px -0px;}
#linkSO:hover{background-position:-48px -24px;}

#linkTW{background:url('images/redessociales.png') no-repeat 0 0;width:24px;height:24px;display:block;text-indent:-9999px;background-position:-72px -0px;}
#linkTW:hover{background-position:-72px -24px;}

#linkYO{background:url('images/redessociales.png') no-repeat 0 0;width:24px;height:24px;display:block;text-indent:-9999px;background-position:-96px -0px;}
#linkYO:hover{background-position:-96px -24px;}


#logo {width: 203px;height: 0px;position: relative;top: 7px;left: 18px;padding: 0px;}
#main{margin:0 auto -75px;padding:5px;height:100%;}

#menu{padding:0px;margin:0px;width:100%;font-size:10px;}
#menu a{text-decoration:none;color:grey;}
.insideMenu{position:relative;float:right;margin-top:85px;margin-right:4px;}
.hoverLargeGrey:hover{color:#515151;}
.hoverLargeRed:hover{color:#AE1919;}

#footerFull{position:relative;clear:both;width:100%;height:75px;margin:-75px auto;background:url('images/background_pie.png');}
#footer{position:relative;clear:both;width:940px;height:75px;margin:-75px auto;background:url('images/background_pie.png');}
.push{padding-top:75px;clear:both;}
.footerSharkImage{position:relative;float:left;width:105px;height:42px;margin:20px 0px 0px 0px;}

#wrap{color:#000;margin:5px;width:745px;position:relative;float:left;zoom:1;height:auto;}
.article{height:282px;width:729px;zoom:1;}

#searchButton{background:url('images/boton_busqueda_normal.png') no-repeat;width:20px;height:21px;}
#searchButton:hover{background:url('images/boton_busqueda_rollover.png') no-repeat;}
#searchBar{width:750px;height:25px;background:url('images/background_searchBar.png') no-repeat;position:relative;float:left;clear:both;}
.searchText{position:relative;float:left;margin:4px 10px 0px 0px;width:502px;}
.searchText2{position:relative;float:left;margin:4px 10px 0px 0px;width:175px;}

#nextPreviousMenu{padding:10px 2px;}


.noDecoration{text-decoration:none;}
.noBorder{border:none;}
.border1{vertical-align:top;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border:3px #a2a2a2 solid;padding:10px;}

#artistInfoBox{margin:5px;font-weight:bold; word-wrap: break-word;}
.artistPhoto{width:140px;height:140px;padding:1px;margin:3px;position:relative;float:left;}
.artistPhoto2{width:140px;height:140px;padding:1px;margin:3px;position:relative;float:left;}
.artistName{top:-35px;width:100%;height:25px;background:url('images/banner_nombre_artista.png') no-repeat;}
.artistSharkImg{position:relative;float:right;top:-7px;right:5px;}
.artistSharkImg2{position:relative;float:right;top:4px;right:5px;}
.localName{top:-35px;width:100%;height:25px;background:url('images/banner_nombre_locales.png') no-repeat;}


.clear{clear:both;}
.left{position:relative;float:left;}
.right{position:relative;float:right;}
.textCentered{text-align:center;}
.textJustified{text-align:justify;}
.displayNone{display:none;}


.box{width:97%;height:363px;border:1px solid #a2a2a2;position:relative;float:left;margin:5px;}
.box2{width:740px;height:300px;position:relative;float:left;margin:3px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.box3{width:99%;border:1px solid white;position:relative;float:left;margin:3px;}
.box4{width:740px;height:300px;background:url('images/cuerpo_noticia_normal.png') no-repeat;margin:10px 0px;}
.box5{width:365px;height:300px;background:url('images/cuerpo_noticia_corta.png') no-repeat;margin-top:10px;margin-bottom:10px;position:relative;float:left;}
.box6{width:240px;height:240px;margin:2px;position:relative;float:left;}
.box7{width:350px;height:288px;position:relative;float:left;margin:5px 5px 5px 10px;overflow:auto;}
.box8{width:345px;height:95px;position:relative;float:left;margin:2px;}
.box9 {width: 730px;height: 400px;position: relative;float: left;margin: 0px 0px 7px 0px;padding: 5px; background: #cccccc; }
.box10{width:723px;height:283px;position:relative;float:left;margin:9px 0px 0px 8px;}
.box11{width:400px;height:270px;position:relative;float:left;margin:10px 0px 0px 0px;}
.box12{width:505px;height:500px;position:relative;float:left;margin:10px 0px 0px 5px; overflow: auto;}
.box13{width:350px;height:288px;position:relative;float:left;margin:5px 5px 5px 10px; background: #cccccc; }
.box14{width:740px;height:288px;position:relative;float:left;margin:5px 5px 5px 10px;overflow:auto;}
.box15{width:350px;height:288px;position:relative;float:left;margin:5px 5px 5px 10px; overflow: auto;background: #cccccc;border: 1px solid #CCC;}
.box16 {width: 730px;height: 250px;position: relative;float: left;margin: 0px 0px 7px 0px;padding: 5px; overflow: auto;background: white;border: 1px solid #CCC;}

.boxEvents{width:740px;height:100px;background:url('images/background_eventos_normal_1px.png') repeat-x;margin:0px;}
.boxEvents:hover{background:url('images/background_eventos_rollover_1px.png')}
.calendarEvent{width:80px;height:80px;background:url('images/calendario_color_oscuro.png') no-repeat;position:relative;float:left;}
.infoEvent{width:630px;position:relative;float:left;height:80px;border:1px solid #a2a2a2;margin:10px 0px 0px 10px;line-height:140%;}
.monthWhiteEvent{width:80px;position:relative;float:left;font:20px solid;color:white;margin:5px 0px 0px 0px;}
.dayEvent{width:80px;height:48px;position:relative;float:left;font:42px solid;margin:0px 0px 0px 0px;}
.boxEventsOpen{width:740px;height:650px;background:url('images/background_eventos_abierto_1px.png') repeat-x;margin:0px;}
.boxEventsOpenEscuela{width:740px;height:300px;background:url('images/background_eventos_abierto_1px.png') repeat-x;margin:0px;}
.calendarEventOpen{width:60px;height:60px;background:url('images/calendario_color_claro.png') no-repeat;position:relative;float:left;}
.eventPhoto{width:200px;height:280px;padding:1px;border:1px #a2a2a2 solid;margin:3px;position:relative;float:left;background:url('images/fotoEvento.png') no-repeat;}
.monthEventOpen{width:60px;position:relative;float:left;font:20px solid;margin:0px 0px 0px 0px;}
.dayEventOpen{width:60px;height:38px;position:relative;float:left;font:32px solid;color:white;margin:0px 0px 0px 0px;}
.infoEventOpen{width:440px;position:relative;float:left;height:60px;border:1px solid #a2a2a2;margin:2px 0px 0px 5px;}

.infoEscuela{width:715px;position:relative;float:left;height:80px;border:1px solid #a2a2a2;margin:10px 0px 0px 10px;line-height:140%;}
.escuelaYouTube{width:200px;height:280px;padding:1px;border:1px #a2a2a2 solid;margin:3px;position:relative;float:left;background-color:grey; color:white;}
.infoEscuelaOpen{width:500px;position:relative;float:left;height:99%;margin:2px 0px 0px 5px;}

.column{width:36%;height:750px;border:1px solid #a2a2a2;position:relative;float:left;margin:2px;}
.column2{width:740px;height:100%;position:relative;float:left;margin:2px 8px 0px 0px;}
.row{width:740px;height:auto;position:relative;float:left;margin:2px 8px 0px 0px;}
.row2{width:98%;height:800px;border:1px solid #a2a2a2;position:relative;float:left;margin:10px;}
.insideRow{width:740px;height:auto;position:relative;float:left;margin:2px 8px 0px 2px;}
.insideRow2{width:740px;height:300px;position:relative;float:left;margin:0px 8px 0px 0px;}
.insideRow3{width:740px;height:300px;position:relative;float:left;margin:2px 8px 10px 2px;background:white;}

.noticia{width:740px;height:100%;position:relative;float:left;margin:25px 8px 0px 0px;overflow:auto;overflow:hidden;}
.cuerpoNoticia{position: relative;float: left;width: 730px;height: 100%;line-height: 120%;}
.fechaCategoria{position: relative;float: left;width: 100%;font-size: 11px;font-weight: bolder;line-height: 150%;}

.advertisementRow{width:145px;height:303px;position:relative;float:left;margin:10px 0px 0px 3px;background:url('images/advertisement.png') no-repeat;}
.advertisementRow2{width:145px;height:240px;position:relative;float:left;margin:4px 0px 0px 3px;background:url('images/advertisement.png') no-repeat;}
.advertisementRow3{width:150px;height:1115px;position:relative;float:right;margin:0px 0px 5px 3px;background:url('images/advertisement.png') repeat-y;}
.advertisementRow4{width:150px;height:auto;position:relative;float:right;margin:0px 0px 5px 3px;background:url('images/advertisement.png') repeat-y;}
.advertisementRow3{width:150px;height:1325px;position:relative;float:right;margin:0px 0px 5px 3px;background:url('images/advertisement.png') repeat-y;}

.sideBar{width:150px;height:750px;border:1px solid #a2a2a2;position:relative;float:left;margin:2px;}
.sideBar2{width:150px;height:287px;border:1px solid #a2a2a2;position:relative;float:left;margin:10px 0px 0px 5px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}

#soundCloud{width:350px;height:280px;margin-top:4px;}

#news1{width:250px;height:250px;}
#news2{width:250px;height:250px;}
#news3{width:250px;height:250px;}
.newsPhoto{border:2px solid black;width:250px;height:250px;position:relative;float:left;padding:0px;margin:25px 0px 0px 25px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}

.newsInfo{position:relative;float:left;width:400px;height:215px;margin:25px 0px 0px 25px;line-height:120%}
.newsCategoryDate{position:relative;float:left;width:250px;height:40px;margin:10px 0px 0px 25px;font-size:11px;font-weight:bolder;line-height:150%;}
.newsReadMore{position:relative;float:left;width:150px;height:36px;margin:20px 0px 0px 30px;}
.newsInfoTitle{position:relative;float:left;width:100%;font-size:20px;font-weight:bolder;line-height:120%}
.newsInfoText{position:relative;float:left;width:100%;margin-top:10px;color:#6E6E6E;text-align:justify;}

.newsInfo2{position:relative;float:left;width:330px;height:235px;margin:15px 0px 0px 15px;line-height:120%}
.newsCategoryDate2{position:relative;float:left;width:150px;height:35px;margin:5px 0px 0px 15px;font-size:11px;font-weight:bolder;line-height:150%;}
.newsReadMore2{position:relative;float:left;width:130px;height:30px;margin:10px 0px 0px 65px;}
.newsInfoTitle2{position:relative;float:left;width:100%;font-size:20px;font-weight:bolder;line-height:120%}
.newsInfoText2{position:relative;float:left;width:100%;margin-top:10px;color:#6E6E6E;text-align:justify;}

.readMoreText{position:relative;float:right;margin-top:7px;margin-right:10px;font-size:15px;font-weight:bold;}
.readMoreText:hover{color:red;}
.bkgdGrey{background-color:#D0D0D0;}
.bkgrdBlueRepeat{background:url('images/bkgrdBlue.png') repeat-y;}

.font1{font-size:11px;font-weight:600;}
.font2{font-size:9px;font-weight:600;}
.font3{font-size:17px;font-weight:bolder;}
.fontRed{color:red;}
.fontGrey{color:#ccc;}
.fontGrey2{color:#6E6E6E;}
.fontDarkGrey{color:#625B5B;}
.fontBlack{color:black;}
.fontWhite{color:#fff;}
a.website{color:red; margin:15px;text-decoration:none;}
a.website:hover{text-decoration:line-through;}
.fontBold{font-weight:bolder;}

.width24px{width:24px;}
.width150px{width:150px;}
.width200px{width:200px;}
.width600px{width:600px;}
.width650px{width:650px;}


.width28{width:28%;}
.width33{width:33%}
.width50{width:50%;}
.width68{width:68%;}
.width100{width:100%;}

.margin0px{margin:0px;}
.padding0px{padding:0px;}

.marginTop35{margin-top:35px;}
.marginTop25{margin-top:25px;}
.marginTop15{margin-top:15px;}
.marginTop10{margin-top:10px;}
.marginTop7{margin-top:7px;}
.marginTop5{margin-top:5px;}
.marginTop3{margin-top:3px;}
.marginTop2{margin-top:2px;}

.marginLeft10{margin-left:10px;}
.marginLeft5{margin-left:5px;}
.marginLeft3{margin-left:3px;}

.marginBottom10{margin-bottom:10px;}
.marginBottom5{margin-bottom:5px;}

.marginRight10{margin-right:10px;}
.marginRight7{margin-right:7px;}
.marginRight5{margin-right:5px;}

.padding10{padding:10px;}

#centerLoginAdmin {position: absolute;  top: 50%;  left: 50%;margin-top: -92px;margin-left: -131px;}
#boxLoginAdmin{position:absolute;background:#ccc;-moz-border-radius:15px 15px;-webkit-border-radius: 15px 15px; padding:15px;}

