body {
    text-align:center;
	font-size: 75%;
	color: #000; 
	background: #fff;
	font-family:  Arial, Helvetica, sans-serif;
	font-weight:bold;
}

a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #666;
	text-decoration: none;
}
a:active {
	color: #000;
	text-decoration: none;
}

.error,
.notice, 
.success    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }
.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }



.botones_generales li {
            display:inline;
        }
        
            .botones_generales a {
                padding:10px;
            }

   

/*Forms*/
.cabecera_usuario {
	text-align:right;
	padding:2px;
	background-color:#fff;
	border-bottom:solid;
	border-bottom-width:2px;
	border-bottom-color:#000;
}

	.cabecera_usuario li {
		display:inline;
					
			}
			
			.cabecera_usuario a {
				padding:10px;
			}


input[type=text], input[type=password], select, textarea {
    width:400px;
    padding:5px;
    margin:0;
}
form {
	margin:0 0 0 0;
	padding:0 0 0 0;
}
select {
    width:414px;
}

#wrapper {
	
    margin:0 auto;
    text-align:left;
    width:1000px;
}

    #navigation, #content {
        margin:0 0 10px 0;
    }

    #head {
		margin:0px 0px 0px 0px;
		padding-top:0xp;
    }
    
    #navigation {
        background:#fff;
        padding:4px 0;
		background-color:#fff;
		border-bottom:solid;
		border-bottom-width:1px;
		border-bottom-color:#000
    }
    
        #navigation li {
            display:inline;
        }
        
            #navigation a {
                padding:10px;
            }
    
    #content {
		
    }
	.listado {
		padding:10px 0;
	}
		.listado li {
			display:inline;
			padding-left:10px;
		}
		.listado li .username {
			
			width:150px;
			
			font-weight:bold;
		}
		.listado li .mail {
			float:left;
			width:150px;
			display:inline;
			padding-left:20px;
			padding-right:10px;
			font-weight:bold;
		   
		}
		
		#submenu {
		background:#fff;
        padding:4px 0;
		border-bottom:solid;
		border-bottom-width:1px;
		border-bottom-color:#000
		}
			#submenu li {
				display:inline;
			}
			
				#submenu a {
					padding-left:10px;
					
				}
		
	
    #foot {
        
    }
/* Titulos */
h3 {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
#titulo_seccion{
	background:#000;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-weight:bold;
	color:#FFF;
}

.formularios_titulo{
	float:left;
	width:980px;
	padding-left:10px;
	padding-right:10px;
	font-weight:bold;
	color:#000;
}

.campos_supertitulo {
	float:left;
	width:980px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#EEE;
}
.campos{
	float:left;
	width:980px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}
	.campos_titulo{
		width:250px;
		float:left;
	}
	.campos_introducir{
		float:left;
		width:730px;
	}
	.campos_introducir ul {
		
		margin-left:0px;
		padding-left:0px;
	}
	.campos_introducir ul li{
		float:left;
		margin-left:0px;
		padding-left:0px;
		list-style:none;
		width:120px;
	}
.formularios_sumbit{
	float:left;
	width:980px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

#menu_principal {
			background:#eee;
        	padding:10px 0;
		}

#submenu_detalle {
			background:#eee;
        	padding:10px 0;
		}
			#submenu_detalle li {
				display:inline;
			}
			
				#submenu_detalle a {
					padding:10px;
				}
				#submenu_detalle b {
					padding:10px;
				}
				
.formularios_titulo {
	background-color:#EEE;
	padding-top:2px;
	padding-bottom:2px;
	
}
#listado {
	padding-left:0px;
			
		}
			#listado li {
				background:#eee;
				display:block;
				height:20px;
				padding-top:2px;
				margin-bottom:5px;				
			}
			#listado li .username{
				min-width:400px;
				float:left;
				padding-left:10px;
			}
			#listado li .listado_botones{
				float:right;
				padding-left:10px;
				padding-right:10px;
			}
			
			#listado li .mail{
				float:left;
				min-width:160px;
				padding-left:10px;
			}	
#btnsubmit {
	float:left;
	width:980px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	background-color:#eee;
}
