html {
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;
}

body {
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	font-family:Arial,Helvetica,sans-serif;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;
}

ul 
	{
		float:left;
		
		margin:0 0 0 0;
		
	}
		ul li
		{
			
			font-family:"Arial Black", Gadget, sans-serif;
			font-size:12px;
			display:inline;
			
		
			padding-left:2px;
			padding-right:20px;
			padding-bottom:2px;
		} 
			