body {
    text-align:center;
}

/*Error messages*/

.error,
.notice, 
.success    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }
.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }



.botones_generales li {
            display:inline;
        }
        
            .botones_generales a {
                padding:10px;
            }
/*Tables*/

table {
    width:100%;
}
    td {
        border-bottom: 1px solid #ddd;
		
    }
	
    
    tfoot {
        background:#eee;
    }
    
    tr td:first-child {
        width:150px;
    }

/*Forms*/
.cabecera_usuario {
	text-align:right;
	margin:0 0 0 0;
	background-color:#eee;
}

	.cabecera_usuario li {
				display:inline;
			}
			
			.cabecera_usuario a {
				padding:10px;
			}


input[type=text], input[type=password], select, textarea {
    width:400px;
    padding:5px;
    margin:0;
}

select {
    width:414px;
}

#wrapper {
    margin:0 auto;
    text-align:left;
    width:1000px;
}
    #head, #navigation, #content {
        margin:0 0 10px 0;
    }

    #head {
        
    }
    
    #navigation {
        background:#eee;
        padding:10px 0;
    }
    
        #navigation li {
            display:inline;
        }
        
            #navigation a {
                padding:10px;
            }
    
    #content {
		
    }
	#cuerpo {
		padding:10px 0;
    }
		#cuerpo li .username {
			float:left;
			width:150px;
			display:inline;
			font-weight:bold;
		}
		#cuerpo li .mail {
			float:left;
			width:150px;
			display:inline;
			padding-left:20px;
			padding-right:10px;
			font-style:italic
		}
		#cuerpo li {
			display:block;
			padding-left:10px;
			
		}
		#submenu {
			background:#eee;
        	padding:10px 0;
		}
			#submenu li {
				display:inline;
			}
			
				#submenu a {
					padding:10px;
				}
		
	
    #foot {
        
    }
/* Titulos */
h3 {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}