html {
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;
}

a:link {
	color: #000;
}
a:visited {
	color: #000;
}
a:hover {
	color: #ff0012;
	text-decoration: none;

}
a:active {
	color: #000;

}
body {
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	font-family:Arial,Helvetica,sans-serif;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;
}
img
{
	border: 0;
	padding: 0px 0px 0px 0px;
}
h2{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
p {
	padding-left:0px;
	padding-right:0px;
	padding-bottom:10px;
	padding-top:0px;
	margin:0px 0px 0px 0px;
}
#map {
	
	width: 468px; 
	height: 380px; 
	overflow:hidden;
	float:left;
}
#centrar
{
    -moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	position:relative;
	width:990px;
}

#foot {
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	position:relative;
	overflow:hidden;
	width:990px;
	border-top:#000 solid 2px; 
}
#head 
{
	font-family:"Arial Black", Gadget, sans-serif;
			font-size:12px;
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	position:relative;
	overflow:hidden;
	height:90px;
	width:990px;
	border-bottom:#000 solid 2px; 
}
	#head_logo 
	{
		position:absolute;
		top:3px;
	}
	#head_menu 
	{
		position:absolute;
		top:70px;
		right:0px;
		margin:0 0 0 0;
		
	}
		#head_menu li
		{
			
			font-family:"Arial Black", Gadget, sans-serif;
			font-size:12px;
			display:inline;
			
			padding-left:2px;
			padding-right:2px;
			padding-bottom:2px;
		} 
			#head_menu  li a:link 
			{ 
				text-decoration:none;
				color:#000;
			}
			#head_menu  li a:visited
			{
				text-decoration:none;
				color:#000;
			}
			#head_menu  li a:hover 
			{
				text-decoration:none;
				color:#333;
			}
			
			
			.head_menu_pulsado
			{
				display:inline;
				background-color:#000;
				color:#FFF;
			} 

#sub_head_1
{
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	position:relative;
	height:280px;
	width:990px;
	border-bottom:#000 solid 2px; 
}
	#sub_head_1_banner{
		position:absolute;
		top:7px;
	}
	#sub_head_1_mapa{
		position:absolute;
		top:7px;
		right:0px;
	}
	#sub_head_1_shark_radio{
		position:absolute;
		bottom:0px;
		left:500px;
	}
	#sub_head_1_menu{
		position:absolute;
		bottom:4px;
		right:0px;
		margin:0 0 0 0;
	}
		#sub_head_1_menu li 
		{
			font-family:"Arial Black", Gadget, sans-serif;
			font-size:12px;
			display:inline;
			
			padding-left:2px;
			padding-right:2px;
			padding-bottom:2px;
		} 
			#sub_head_1_menu li a:link 
			{ 
				text-decoration:none;
				color:#000;
			}
			#sub_head_1_menu li a:visited
			{
				text-decoration:none;
				color:#000;
			}
			#sub_head_1_menu li a:hover 
			{
				text-decoration:none;
				color:#333;
			}
#cuerpo_1
{
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	position:relative;
	width:990px;
	
}
	#cuerpo_noticias{
			padding-top:10px;
			float:left;
			width:825px;
			
	}
	#noticias{
		margin:0 0 0 0;
		padding:0 0 0 0;
	}
		#noticias  li{
			background:url(http://www.sharkdj.com/file/entorno/btn_fondo_noti.png);
			background-position: 718px 102px;
			background-repeat:no-repeat;
			cursor:pointer;
			
			width:825px;
			height:120px;
			overflow:hidden;
			list-style:none;
			border:solid #000 1px;
			margin-bottom:10px;
		}
		li div.noticias_imagen
		{
			float:left;
			width:179px;
			height:100px;
			overflow:hidden;
			margin-top:10px;
			margin-left:10px;
		}
		li div.noticias_info
		{
			float:left;
			width:540px;
			height:100px;
			overflow:hidden;
			margin-top:10px;
			margin-left:10px;
		}
			li div.noticias_info p 
			{
				
				font-family:"Arial Narrow", Helvetica, sans-serif;
				font-size:14px;
			}
			li div.noticias_info h2 
			{
				font-family:"Arial Black", Gadget, sans-serif;
				
				font-size:18px;
			}
		li div.noticias_enlace 
		{
			
			font:Arial, Helvetica, sans-serif;
			font-size:10px;
			float:right;
			width:77px;
			height:18px;
			overflow:hidden;
			margin-top:106px;
		}
			div.noticias_enlace a
			{
				color:#FFF;
				text-decoration:none;
			}
		#noticias_detalle {
			width:810px;
			overflow:hidden;
			font-family:"Arial Narrow",Arial;
		}
		
	#banner {
		-moz-background-clip:border;
		-moz-background-origin:padding;
		-moz-background-size:auto auto;
		margin-bottom:auto;
		margin-left:auto;
		margin-right:auto;
		margin-top:auto;
		padding-top:10px;
		float:right;
		width:153px;
		overflow:hidden;
		text-align:right;
	}



#sub_head_2
{
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	position:relative;
	height:210px;
	width:990px;
	border-bottom:#000 solid 1px; 
}
	#sub_head_2_texto{
		position:absolute;
		top:5px;
		left:8px;
		overflow:hidden;
		width:585px;
		height:200px;
		
	}
		#sub_head_2_texto p 
		{
			
			font-family:Arial, Helvetica, sans-serif;
			font-size:14px;
		}
		#sub_head_2_texto h2 
		{
			font-family:"Arial Black", Gadget, sans-serif;
			font-size:18px;
		}
	#sub_head_2_cuadro_sup1{
		position:absolute;
		top:6px;
		left:0px;
		overflow:hidden;
		background-color:#e3e3e3;
		width:287px;
		height:92px;
		
	}
			#sub_head_2_cuadro_sup1 input{
				margin-left:8px;
				width:271px;
				height:18px;
				border:solid #e3e3e3 1px;
				margin-top:5px;
		
			}
			.txtbuscarclub{
				font-family:"Arial Narrow", arial;
				font-size:13px;
				margin-top:40px;
				margin-left:8px;
				font-weight:bold;
	}
	#sub_head_2_cuadro_sup2{
		position:absolute;
		top:6px;
		left:302px;
		overflow:hidden;
		background-color:#e3e3e3;
		width:287px;
		height:92px;
	}
			#sub_head_2_cuadro_sup2 select{
				font-family:"Arial Narrow", arial;
				font-size:14px;
				margin-left:8px;
				width:271px;
				height:20px;

				margin-top:5px;
				text-align:center;
	}
			.txtbuscarclubloca{
				font-family:"Arial Narrow", arial;
				font-size:13px;
				margin-top:16px;
				margin-left:8px;
				font-weight:bold;
	}

		
	
	#sub_head_2_cuadro_inf1{
		position:absolute;
		top:113px;
		left:0px;
		overflow:hidden;
		background-color:#e3e3e3;
		width:287px;
		height:92px;
		
	}
			.txtbuscarclubstyle{
				font-family:"Arial Narrow", arial;
				font-size:13px;
				margin-top:40px;
				margin-left:8px;
				font-weight:bold;
	}
			#sub_head_2_cuadro_inf1 input{
				font-family:"Arial Narrow", arial;
				font-size:13px;
				margin-left:8px;
				width:251px;
				height:18px;
				background-color:#fff;
				border:solid #e3e3e3 1px;
				margin-top:5px;
		
			}
	#sub_head_2_cuadro_inf2{
		font-family:"Arial Black", arial;
		font-size:16px;
		position:absolute;
		top:113px;
		left:302px;
		overflow:hidden;
		background-color:#e3e3e3;
		width:287px;
		height:92px;
		
	}
		#sub_head_2_cuadro_inf2	a:link {
			color: #000;
			text-decoration: none;
		}
		#sub_head_2_cuadro_inf2 a:visited {
		color: #000;
		text-decoration: none;
		}
		#sub_head_2_cuadro_inf2 a:hover {
			color: #ff0012;
			text-decoration: none;

		}
		#sub_head_2_cuadro_inf2 a:active {
			color: #000;
			text-decoration: none;
		}
			.btnbuscar{
				margin-top:66px;
				margin-left:212px;
				font-weight:bold;
	}
	#sub_head_2_cuadro_inf_artistas_shark{
		position:absolute;
		top:113px;
		left:302px;
		overflow:hidden;
		width:287px;
		height:42px;
		
	}
	#sub_head_2_cuadro_inf_artistas{
		position:absolute;
		top:163px;
		left:302px;
		overflow:hidden;
		background-color:#e3e3e3;
		width:287px;
		height:42px;
		
	}
	#sub_head_2_vacio{
		position:absolute;
		top:6px;
		left:605px;
		overflow:hidden;
		background-color:#e3e3e3;
		width:185px;
		height:92px;
		
	}
	#sub_head_2_radio{
		position:absolute;
		top:113px;
		left:605px;
		overflow:hidden;
		background-color:#e3e3e3;
		width:185px;
		height:92px;
		
	}
	#sub_head_2_login{
		position:absolute;
		top:6px;
		right:0px;
		overflow:hidden;
		background-color:#e3e3e3;
		width:185px;
		height:92px;
		
	}
	#sub_head_2_world{
		position:absolute;
		top:113px;
		right:0px;
		overflow:hidden;
		background-color:#e3e3e3;
		width:185px;
		height:92px;
		
	}
#sub_menu_sub_head_2
{
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	position:relative;
	height:18px;
	width:990px;
	border-bottom:#000 solid 2px; 
	
}	
	#sub_head_2_menu{
		position:absolute;
		top:0px;
		left:0px;
		margin:0 0 0 0;
		padding-bottom:0px;
		padding-top:0px;
		padding-right:0px;
		padding-left:8px;
		
	}
		#sub_head_2_menu li 
		{
			font-family:Arial, Helvetica, sans-serif;
			font-size:16px;
			display:inline;
			
			padding-left:2px;
			padding-right:2px;
		} 
			#sub_head_2_menu li a:link 
			{ 
				text-decoration:none;
				color:#000;
			}
			#sub_head_2_menu li a:visited
			{
				text-decoration:none;
				color:#000;
			}
			#sub_head_2_menu li a:hover 
			{
				text-decoration:none;
				color:#333;
			}
#cuerpo_escuela{
			padding-top:10px;
			float:left;
			width:825px;
			
	}
	#escuela{
		margin:0 0 0 0;
		padding:0 0 0 0;
	}
		#escuela  li{
			padding-left:8px;
			
			
			width:825px;
			height:50px;
			overflow:hidden;
			list-style:none;
			border-bottom:solid #000 1px;
			margin-bottom:10px;
		}
			#escuela  li h2{
				font-family:"Arial Black", Gadget, sans-serif;
				
				font-size:18px;
			}
			#escuela  li h2 a:link 
			{ 
				text-decoration:none;
				color:#000;
			}
			#escuela  li h2 a:visited
			{
				text-decoration:none;
				color:#000;
			}
			#escuela  li h2 a:hover 
			{
				text-decoration:none;
				color:#333;
			}
			
			#escuela  li p {
				
				font-family:Arial, Helvetica, sans-serif;
				font-size:14px;
				color:#666;
			}
		
		
#cuerpo_lista_float{
			padding-top:10px;
			float:left;
			width:825px;
			
	}
	#lista_float{
		margin:0 0 0 0;
		padding:0 0 0 0;
	}
		#lista_float  li{
			float:left;
			padding-left:inherit;
			margin-right:8px;
			margin-left:8px;
			margin-bottom:16px;			
			width:188px;
			height:172px;
			overflow:hidden;
			list-style:none;
			border:solid #000 1px;
			
		}
		li div.lista_float_imagen
		{
			
			float:left;
			width:180px;
			height:115px;
			margin-top:4px;
			margin-left:4px;
			overflow:hidden;
		}
		li div.lista_float_info
		{
			float:left;
			margin-left:4px;
			margin-top:30px;
			width:180px;
			height:20px;
			text-align:right;
			overflow:hidden;
			font-family:"Arial Narrow",Arial;
			font-size:14px;
			
		}
			li div.lista_float_info a:link 
			{ 
				text-decoration:none;
				color:#000;
			}
			li div.lista_float_info a:visited
			{
				text-decoration:none;
				color:#000;
			}
			li div.lista_float_info a:hover 
			{
				text-decoration:none;
				color:#333;
			}
			
						#sub_head_clubs_select{
							position:absolute;
								display:none;		
								z-index: 100;
											top:6px;
											left:0px;
					
											width:590px;
											height:198px;
						}
							#sub_head_clubs_select_entorno {
								font-family:"Arial Narrow",Arial;
								font-size:14px;
								border:solid #000 1px;
								position:absolute;
								background-color:#e3e3e3;
								top:20px;
								left:20px;
								width:250px;
								height:150px;
							}
							#sub_head_clubs_select_entorno_botones{
								font-weight:bold;
								position:relative;
								width:230px;
								margin-left:6px;
								margin-top:6px;
							}
										#sub_head_clubs_select_entorno ul{
											position:relative;
											margin:0 0 0 0;
											padding-bottom:0px;
											padding-top:6px;
											padding-right:0px;
											padding-left:8px;
										}
										#sub_head_clubs_select li{
											float:left;
											margin-left:0px;
											padding-left:0px;
											list-style:none;
											width:120px;
											height:16px;
										}
			
#sub_head_clubs_imagen{
	position:absolute;
	background-color:#FFF;
	top:6px;
	left:8px;
	overflow:hidden;
	width:220px;
	height:199px;
	overflow:hidden;
}
#sub_head_clubs_info{
	position:absolute;
	background-color:#FFF;
	top:6px;
	left:243px;
	overflow:hidden;
	width:350px;
	height:199px;
	overflow:hidden;
}
#clubs_localizacion_info{
	float:left;
	margin-left:10px;
	width:332px;
}
#calendario_fiestas {
	float:left;
	width:200px;
}

#listado_fiestas {
	float:left;
	width:590px;
	margin:0 0 0 15px;
	padding:0 0 0 0;
	overflow:hidden;
}
	#listado_fiestas li{
		font-size:12px;
		font-family:Arial, Helvetica, sans-serif;
		float:left;
		margin-bottom:16px;	
		width:588px;
		height:126px;
		overflow:hidden;
		list-style:none;
		border:solid #000 1px;
		background:url(http://www.sharkdj.com/file/entorno/btn_fondo_fiestas.png);
		background-position: 458px 102px;
		background-repeat:no-repeat;
		
	}
	#listado_fiestas li div.listad_fiestas_titulo {
		float:left;
		width:580px;
		margin-left:10px;
		margin-top:10px;
		font-family:"Arial Black", Gadget, sans-serif;		
		font-size:18px;
	}
	#listado_fiestas li div.listad_fiestas_informacion{
		float:left;
		width:580px;
		height:30px;
		margin-left:10px;
	}
	
	#listado_fiestas li div.listad_fiestas_localizacion{
		float:left;
		width:300px;
		margin-top:26px;
		margin-left:10px;
	}
	#listado_fiestas li div.listad_fiestas_hora{
		float:left;
		width:300px;
		margin-left:10px;
	}
	
	#listado_fiestas li div.fiestas_enlace 
		{
			
			font:Arial, Helvetica, sans-serif;
			font-size:12px;
			float:right;
			
			width:97px;
		}
			#listado_fiestas li div.fiestas_enlace a
			{
				color:#FFF;
				text-decoration:none;
			}
#sub_head_fiestas_info{
	position:absolute;
	top:6px;
	left:8px;
	overflow:hidden;
	width:580px;
	height:199px;
	overflow:hidden;
}
#fiestas_info_imagen {
	float:left;
	width:186px;
	margin-left:8px;
}
#footmenu_der  {
	float:left;
	padding-left:0px;

}
#footmenu_der li{
	float:left;
	list-style:none;
	padding-right:10px;
}

#Identificarse {
	border: solid 1px #000;
	width:400px;
	float:left;

}
#Registrarse {
	border: solid 1px #000;
	width:400px;
	float:right;
}
.formularios_titulo{
	font-family:"Arial Black", arial;
	float:left;
	width:400px;
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	font-weight:bold;
	color:#000;
}

.campos{
	float:left;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}
	.campos_titulo{
		font-family:"Arial Narrow", arial;
		font-size:14px;
		width:250px;
		float:left;
	}
	.campos_txt{
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
		font-family:"Arial Narrow", arial;
		font-size:14px;
		float:left;
	}
	.campos_introducir{
		float:left;
		width:730px;
	}
.formularios_sumbit{
		font-family:"Arial Narrow", arial;
		font-size:14px;
	float:left;
	width:380px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.campos_introducir input[type=text], .campos_introducir input[type=password], .campos_introducir select {
		font-family:"Arial Narrow", arial;
		font-size:13px;
    width:360px;
    padding:5px;
    margin:0;
}



#radio{
		margin:0 0 0 0;
		padding:0 0 0 0;
	}
		#radio  li{
			
			
			width:825px;
			height:90px;
			overflow:hidden;
			list-style:none;
			border-bottom:solid #000 1px;
			
			margin-bottom:10px;
		}
		
		li div.radio_info
		{
			float:left;
			width:660px;
			height:100px;
			overflow:hidden;
			margin-top:10px;
			
		}

		li div.radio_info p 
			{
				
				font-family:"Arial Narrow", Helvetica, sans-serif;
				font-size:16px;
				color:#666;
				background-color:#e3e3e3;
				padding-top:8px;
				padding-left:10px;
			}
			li div.radio_info h2 
			{
				font-family:"Arial Black", Gadget, sans-serif;
				margin-left:10px;
				font-size:22px;
			}
		
		li div.radio_pulsar
		{
			float:right;
			width:160px;
			height:69px;
			overflow:hidden;
			margin-top:10px;
			background-color:#000;
			
		}