img {
	max-width: 250px;
}

.image {
  background: #e3e3e3;
  padding: 5px;
  text-align: center;
  position: relative;
}

.image img { 
   max-width: 95%; 
}

.artist {
  text-align: center;
}

.artist .artistname {
  color: grey;
  font-size: x-large;
}

.iconSocial {
  padding: 5px;
  text-align:center;
  position: relative;
}

.left {
	position: relative;
	float: left;
}

.marginLeft5 { margin-left: 5px; }
.marginTop7 { margin-top: 7px; }

.fontDarkGrey { color: #625B5B; }
.font1 {
  font-size: 11px;
  font-weight: 600;
}

.artistSharkImg {
  position: relative;
	float: right;
	top: -7px;
	right: 5px;
}
.logoSharkEvento {
  position: absolute;
	font-size: 11px;
	padding: .2em .5em;
	top: 50%;
	margin-top: -3.5em;
	right: 65px;
}

.ui-btn-active { background: #DF013A; }


.artistName {
	left: 3px;
	top: -35px;
	width: 100%;
	height: 25px;
	background: url('../../images/banner_nombre_artista.png') no-repeat;
}

.videoBox {
width: 140px;
height: 101px;
padding: 2px;
margin: 2px 0;
border: 1px solid #D5516F;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-background-clip: padding-box;
position: relative;
}