/* This is for Gecko-based browsers */

.DynarchCalendar {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.DynarchCalendar-title, .DynarchCalendar-title div {
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0 0 0px 0px;
  border-radius: 0 0 0px 0px;
}

.DynarchCalendar-topBar {
  -moz-border-radius: 0px 0px 0 0;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 0 0;
}

.DynarchCalendar-bottomBar {
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0 0 0px 0px;
  border-radius: 0 0 0px 0px;
}

.DynarchCalendar-bottomBar-today {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.DynarchCalendar-navBtn, .DynarchCalendar-navBtn div {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.DynarchCalendar-menu {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.DynarchCalendar-menu table td div {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.DynarchCalendar-weekNumber {
  -moz-border-radius: 0px 0 0 0px;
  -webkit-border-radius: 0px 0 0 0px;
  border-radius: 0px 0 0 0px;
}

.DynarchCalendar-day {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.DynarchCalendar-day-disabled {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.DynarchCalendar-tooltipCont {
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0px;
}

.DynarchCalendar-time-hour, .DynarchCalendar-time-minute {
  -moz-border-radius: 0px 0 0 0px;
  -webkit-border-radius: 0px;
}

.DynarchCalendar-time-am {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
